/*.cheeseburger{*/

/*}*/

.cheeseburg{
    position: absolute;
    width: 200px;
    height: 143px;
    left: 32px;
    top: -45px;
    background: url('./img/Tofu-Burger- 1.png');
}

.title{
    position: absolute;
    width: 232px;
    height: 24px;
    left: 77px;
    top: 120px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.desc{
    position: absolute;
    width: 231px;
    height: 89px;
    left: 18px;
    top: 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.cost{
    position: absolute;
    width: 231px;
    height: 24px;
    left: 90px;
    top: 252px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.cheeseburgers1{
    position: absolute;
    width: 264px;
    height: 392px;
    left: 296px;
    background: #2B4241;
    border-radius: 40px;
}

.cheeseburg1{
    position: absolute;
    width: 200px;
    height: 143px;
    left: 32px;
    top: -45px;
    background: url('./img/Tofu-Burger- 2.png');
}

.title1{
    position: absolute;
    width: 232px;
    height: 24px;
    left: 82px;
    top: 120px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.desc1{
    position: absolute;
    width: 231px;
    height: 89px;
    left: 16px;
    top: 144px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.cost1{
    position: absolute;
    width: 231px;
    height: 24px;
    left: 96px;
    top: 246px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.cheeseburgers2{
    position: absolute;
    width: 264px;
    height: 392px;
    left: 592px;
    background: #2B4241;
    border-radius: 40px;
}

.cheeseburg2{
    position: absolute;
    width: 200px;
    height: 143px;
    left: 32px;
    top: -45px;
    background: url('./img/Tofu-Burger-3.png');
}

.title2{
    position: absolute;
    width: 232px;
    height: 24px;
    left: 82px;
    top: 120px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.desc2{
    position: absolute;
    width: 231px;
    height: 89px;
    left: 16px;
    top: 144px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.cost2{
    position: absolute;
    width: 231px;
    height: 24px;
    left: 96px;
    top: 246px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.cheeseburgers3{
    position: absolute;
    width: 264px;
    height: 392px;
    left: 888px;
    background: #2B4241;
    border-radius: 40px;
}

.cheeseburg3{
    position: absolute;
    width: 188px;
    height: 141px;
    left: 40px;
    top: -49px;
    background: url('./img/Tofu-Burger-4.png');
}

.title3{
    position: absolute;
    width: 232px;
    height: 24px;
    left: 82px;
    top: 120px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.desc3{
    position: absolute;
    width: 231px;
    height: 89px;
    left: 16px;
    top: 144px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.cost3{
    position: absolute;
    width: 231px;
    height: 24px;
    left: 96px;
    top: 246px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.btn{
    position: absolute;
    left: 12%;
    right: 70%;
    top: 88%;
    bottom: 65%;
    width: 200px;
    height: 48px;

    background: #FF583E;
    border-radius: 40px;
}

.button{
    position: absolute;
    background: #ff583e;
    border-radius: 26px;
    border: none;
    width: 190px;
    height: 43px;
    left: 6px;
    top: 2px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    justify-content: center;
}