.desk{
    position: relative;
    width: 1600px;
    height: 3225px;
    background: #fcfcfc;
    margin-top: 70px;
}

.first{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0;
    top: 0;
}

.firstBlok{
    position: absolute;
    width: 1152px;
    height: 550px;
    left: 240px;
    top: 620px;
}

.secondBlok{
    width: 1152px;
    height: 1014px;
    left: 224px;
    top: 1220px;
}

.about{
    width: 1120px;
    height: 346px;
    left: 224px;
    top: 2246px;
}