.sorter{
    width: 304px;
    height: 40px;
    left: 1072px;
}

.sort{
    position: absolute;
    width: 136px;
    height: 40px;
    left: 1072px;
    top: 1230px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #1D3130;
}

.rectangle{
    position: absolute;
    display: flex;
    align-items: center;
    width: 190px;
    height: 34px;
    left: 1200px;
    top: 1230px;
    border: 1px solid #C4C4C4;
}

.select{
    border: none;
}

.pizza1{
    position: absolute;
    width: 264px;
    height: 400px;
    left: 224px;
    top: 1382px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.img1{
    position: absolute;
    width: 200px;
    height: 160px;
    left: 32px;
}

.title1{
    position: absolute;
    width: 232px;
    height: 24px;
    left: 60px;
    top: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.desc1{
    position: absolute;
    width: 232px;
    height: 72px;
    left: 14px;
    top: 202px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.cost1{
    position: absolute;
    width: 231px;
    height: 24px;
    left: 94px;
    top: 280px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.pizza2{
    position: absolute;
    width: 264px;
    height: 400px;
    left: 522px;
    top: 1382px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.img2{
    position: absolute;
    width: 200px;
    height: 160px;
    left: 32px;
}

.title2{
    position: absolute;
    width: 232px;
    height: 24px;
    left: 60px;
    top: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.desc2{
    position: absolute;
    width: 232px;
    height: 72px;
    left: 14px;
    top: 202px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.cost2{
    position: absolute;
    width: 231px;
    height: 24px;
    left: 94px;
    top: 280px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.pizza3{
    position: absolute;
    width: 264px;
    height: 400px;
    left: 818px;
    top: 1382px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.img3{
    position: absolute;
    width: 200px;
    height: 160px;
    left: 32px;
}

.title3{
    position: absolute;
    width: 232px;
    height: 24px;
    left: 60px;
    top: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.desc3{
    position: absolute;
    width: 232px;
    height: 72px;
    left: 14px;
    top: 202px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.cost3{
    position: absolute;
    width: 231px;
    height: 24px;
    left: 94px;
    top: 280px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.pizza4{
    position: absolute;
    width: 264px;
    height: 400px;
    left: 1114px;
    top: 1382px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.img4{
    position: absolute;
    width: 200px;
    height: 160px;
    left: 32px;
}

.title4{
    position: absolute;
    width: 232px;
    height: 24px;
    left: 60px;
    top: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.desc4{
    position: absolute;
    width: 232px;
    height: 72px;
    left: 14px;
    top: 202px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.cost4{
    position: absolute;
    width: 231px;
    height: 24px;
    left: 94px;
    top: 280px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.pizza5{
    position: absolute;
    width: 264px;
    height: 400px;
    left: 224px;
    top: 1810px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.img5{
    position: absolute;
    width: 200px;
    height: 160px;
    left: 32px;
}

.title5{
    position: absolute;
    width: 232px;
    height: 24px;
    left: 60px;
    top: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.desc5{
    position: absolute;
    width: 232px;
    height: 72px;
    left: 14px;
    top: 202px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.cost5{
    position: absolute;
    width: 231px;
    height: 24px;
    left: 94px;
    top: 280px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.pizza6{
    position: absolute;
    width: 264px;
    height: 400px;
    left: 522px;
    top: 1810px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.img6{
    position: absolute;
    width: 200px;
    height: 160px;
    left: 32px;
}

.title6{
    position: absolute;
    width: 232px;
    height: 24px;
    left: 60px;
    top: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.desc6{
    position: absolute;
    width: 232px;
    height: 72px;
    left: 14px;
    top: 202px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.cost6{
    position: absolute;
    width: 231px;
    height: 24px;
    left: 94px;
    top: 280px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.pizza7{
    position: absolute;
    width: 264px;
    height: 400px;
    left: 818px;
    top: 1810px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.img7{
    position: absolute;
    width: 200px;
    height: 160px;
    left: 32px;
}

.title7{
    position: absolute;
    width: 232px;
    height: 24px;
    left: 60px;
    top: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.desc7{
    position: absolute;
    width: 232px;
    height: 72px;
    left: 14px;
    top: 202px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.cost7{
    position: absolute;
    width: 231px;
    height: 24px;
    left: 94px;
    top: 280px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.pizza8{
    position: absolute;
    width: 264px;
    height: 400px;
    left: 1114px;
    top: 1810px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.img8{
    position: absolute;
    width: 200px;
    height: 160px;
    left: 32px;
}

.title8{
    position: absolute;
    width: 232px;
    height: 24px;
    left: 60px;
    top: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.desc8{
    position: absolute;
    width: 232px;
    height: 72px;
    left: 14px;
    top: 202px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.cost8{
    position: absolute;
    width: 231px;
    height: 24px;
    left: 94px;
    top: 280px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #254F4C;
}

.btn{
    position: absolute;
    left: 12%;
    right: 70%;
    top: 88%;
    bottom: 65%;
    width: 200px;
    height: 48px;

    background: #254F4C;
    border-radius: 40px;
}

.button{
    position: absolute;
    background: #254F4C;
    border-radius: 26px;
    border: none;
    width: 190px;
    height: 43px;
    left: 6px;
    top: 2px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    justify-content: center;
}

.bt{
    position: absolute;
    bottom: 30.43%;
    box-sizing: border-box;
    width: 200px;
    height: 48px;
    left: 700px;
    top: 2255px;
    border: 1px solid #FF583E;
    border-radius: 40px;
}

.buttn{
    position: absolute;
    width: 152px;
    height: 24px;
    left: 30px;
    top: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FF583E;
    background: none;
    border: none;
}

.increase{
    position: absolute;
    background-color: #2B4241;
    top: 312px;
    width: 16px;
    height: 0;
    left: 142px;
    color: #FF583E;
}

.decrease{
    position: absolute;
    background-color:#2B4241;
    top: 312px;
    width: 16px;
    height: 0;
    left: 92px;
    color: #FF583E;
}

.counter{
    display: flex;
}

.like{
    position: absolute;
    top: -32px;
    margin-left: -20px;
    width: 8px;
    height: 16px;
    font-size: 26px;
    color:#254F4C;
}